.display-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flexStart {
    justify-content: flex-start;
}

.align-items-center {
    align-items: center;
}