.svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg) rotateZ(-90deg);
  z-index: 10;
}

.progress {
  /*660 seconds is the equivalent to 11 minutes.
    TODO: Assign value dynamically*/
  --animationLength: 660s;
  stroke: #000000;
  stroke-width: 4;
  fill: none;
  stroke-dasharray: 754px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
}

.isActive {
  animation: countdown var(--animationLength) linear forwards;
}
.isRunning {
  animation-play-state: running;
}
.isPaused {
  animation-play-state: paused;
}

/** ########### Component's Animation ###########**/

@keyframes countdown {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 754px;
  }
}
